<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ibbSoap">
                    <security mode="Transport" />
                </binding>
				
                <binding name="ibb360Soap" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
                    <security mode="Transport" />
                </binding>
				
                <binding name="DuyurularSoap" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
					<security mode="Transport" />
                </binding>
				
                <binding name="WebService1Soap" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
					<security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.ibb.gov.tr/iett/ibb/ibb.asmx"
                binding="basicHttpBinding" bindingConfiguration="ibbSoap"
                contract="IBB.ibbSoap" name="ibbSoap" />
            <endpoint address="https://api.ibb.gov.tr/iett/ibb360.asmx" binding="basicHttpBinding"
                bindingConfiguration="ibb360Soap" contract="IBB360.ibb360Soap"
                name="ibb360Soap" />
            <endpoint address="https://api.ibb.gov.tr/iett/UlasimDinamikVeri/Duyurular.asmx"
                binding="basicHttpBinding" bindingConfiguration="DuyurularSoap"
                contract="Duyurular.DuyurularSoap" name="DuyurularSoap" />
            <endpoint address="https://api.ibb.gov.tr/iett/UlasimAnaVeri/HatDurakGuzergah.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="HatDurakGuzergah.WebService1Soap" name="WebService1Soap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>